@charset "UTF-8";
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
/* VARIABLES */
/*MIXINS*/
/* GLOBAL */
* {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;
}

html {
	font-size : 62.5%;
}

h1 {
	color       : #000000;
	font-family : 'Playfair Display', serif;
	font-size   : 2.4rem;
	font-style  : normal;
	font-weight : 700;
}

h2 {
	color       : #4F4F4F;
	font-family : 'Montserrat', sans-serif;
	font-size   : 1.2rem;
	font-style  : italic;
	font-weight : 500;
}

h3 {
	color       : #333333;
	font-family : 'Playfair Display', serif;
	font-size   : 1.8rem;
	font-style  : normal;
	font-weight : 700;
}

h4 {
	color       : #333333;
	font-family : 'Playfair Display', serif;
	font-size   : 1.6rem;
	font-style  : italic;
	font-weight : 400;
}

li {
	list-style : none;
}

input[type=checkbox] {
	appearance      : none;
	width           : 21px;
	height          : 21px;
	cursor          : pointer;
	font-size       : 17px;
	border          : 1px solid #828282;
	border-radius   : 4px;
	display         : flex;
	align-items     : center;
	justify-content : center;
}

input[type=checkbox]:checked:after {
	content : '✔';
	color   : #333333;
}

.container {
	margin    : 0 auto;
	max-width : 144rem;
	padding   : 0 1.2rem 0;
}

/* HEADER STYLES */
.header {
	margin-top    : 3.2rem;
	margin-bottom : 1.2rem;
}

/* RECIPE INFORMATION STYLES */
.recipe {
	margin-bottom : 2.4rem;
}

.recipe__box {
	align-items   : baseline;
	display       : flex;
	margin-bottom : 1.2rem;
}

.recipe__box__dots {
	background-image  : url('../images/6dots.svg');
	background-repeat : no-repeat;
	height            : 0.8rem;
	width             : 1.3rem;
}

.recipe__box h2 {
	padding-left : 1.2rem;
	width        : 100%;
}

.recipe__image img {
	width : 100%;
}

/* RECIPE INFORMATION */
.recipe-information {
	margin-bottom : 12.9rem;
}

/* RECIPES ESTIMATIONS */
.recipe-estimations {
	margin-bottom : 3.25rem;
}

.recipe-estimations__box {
	display               : grid;
	grid-template-columns : repeat(3, 1fr);
	grid-template-rows    : auto;
	row-gap               : 2.75rem;
	column-gap            : 1.342rem;
}

.recipe-estimations__yields {
	grid-column-start : 1;
	grid-column-end   : 2;
}

.recipe-estimations__yields__box {
	align-items : center;
	display     : flex;
}

.recipe-estimations__yields span {
	color : #F2994A;
}

.recipe-estimations__yields__text {
	padding-left : 0.552rem;
}

.recipe-estimations__yields__text h5 {
	color       : #BDBDBD;
	font-family : 'Montserrat', sans-serif;
	font-size   : normal;
	font-style  : 0.8rem;
	font-weight : 700;
}

.recipe-estimations__yields__text p {
	color       : #F2994A;
	font-family : 'Montserrat', sans-serif;
	font-size   : normal;
	font-style  : 1rem;
	font-weight : 500;
}

.recipe-estimations__preparation {
	grid-row-start : 2;
}

.recipe-estimations__preparation__information {
	align-items : center;
	display     : flex;
}

.recipe-estimations__preparation__information span {
	color : #4F4F4F;
}

.recipe-estimations__preparation__text {
	padding-left : 0.552rem;
}

.recipe-estimations__preparation__text h5 {
	color       : #BDBDBD;
	font-family : 'Montserrat', sans-serif;
	font-size   : 0.8rem;
	font-style  : normal;
	font-weight : 700;
}

.recipe-estimations__preparation__text p {
	color       : #333333;
	font-family : 'Montserrat', sans-serif;
	font-size   : 1rem;
	font-style  : normal;
	font-weight : 500;
}

/* INGREDIENTS */
.ingredients__info h3 {
	margin-bottom : 1.3rem;
}

.ingredients__info__form {
	margin-bottom : 3.9rem;
}

.ingredients__info__form:nth-child(3) {
	margin-bottom : 3rem;
}

.ingredients__info__form h4 {
	margin-bottom : 2.3rem;
}

.ingredients__info__form ul li {
	display       : flex;
	margin-bottom : 1rem;
}

.ingredients__info__form ul li p {
	padding-left : 0.8rem;
	width        : 95%;
	color        : #333333;
	font-family  : 'Montserrat', sans-serif;
	font-size    : 1.4rem;
	font-style   : normal;
	font-weight  : 400;
}

.ingredients__info__form ul li p span {
	color       : #333333;
	font-family : 'Montserrat', sans-serif;
	font-size   : 1.4rem;
	font-style  : italic;
	font-weight : 500;
}

/* INSTRUCTIONS */
.instructions {
	margin-bottom : 2.6rem;
}

.instructions h2 {
	margin-bottom : 2.6rem;
	color         : #333333;
	font-family   : 'Playfair Display', serif;
	font-size     : 2.4rem;
	font-style    : normal;
	font-weight   : 700;
}

.instructions__list ul li {
	display       : flex;
	margin-bottom : 2.5rem;
}

.instructions__list ul li p {
	padding-left : 1.5rem;
	color        : #000000;
	font-family  : 'Montserrat', sans-serif;
	font-size    : 1.6rem;
	font-style   : normal;
	font-weight  : 400;
	line-height  : 2.4rem;
}

.instructions__list__number {
	align-items : start;
	display     : flex;
}

.instructions__list__number span {
	display          : flex;
	justify-content  : center;
	border-radius    : 0.6rem;
	color            : #FFFFFF;
	font-family      : 'Playfair Display', serif;
	font-size        : 2.4rem;
	font-style       : normal;
	font-weight      : 700;
	background-color : #F2994A;
	height           : 3.6rem;
	width            : 3.6rem;
}

/* SOURCE */
.source p {
	color         : #BDBDBD;
	font-family   : 'Montserrat', sans-serif;
	font-size     : 1.2rem;
	font-style    : italic;
	font-weight   : 400;
	margin-bottom : 0.5rem;
}

.source a {
	color           : #BDBDBD;
	font-family     : 'Montserrat', sans-serif;
	font-size       : 1.2rem;
	font-style      : italic;
	font-weight     : 400;
	text-decoration : navajowhite;
}

.footer {
	text-align    : center;
	margin-bottom : 2.4rem;
}

.footer h6 {
	color       : #828282;
	font-family : 'Montserrat', sans-serif;
	font-size   : 1.4rem;
	font-style  : normal;
	font-weight : 500;
}

.footer strong {
	text-decoration : underline;
}

/* RESPONSIVE */
@media (min-width : 1024px) {
	.container {
		padding : 0 23.4rem 0;
	}
	
	h1 {
		font-size : 4.8rem;
	}
	
	h2 {
		font-size : 1.4rem;
	}
	
	h3 {
		font-size : 2.4rem;
	}
	
	.header {
		margin-top : 5.2rem;
	}
	
	.recipe {
		margin-bottom : 4.8rem;
	}
	
	.recipe__box {
		margin-bottom : 4.3rem;
	}
	
	.recipe__box h2 {
		max-width : 59.2rem;
	}
	
	.recipe-information {
		display         : flex;
		justify-content : space-between;
		margin-bottom   : 9.3rem;
	}
	
	.recipe-information .recipe-estimations {
		order : 2;
	}
	
	.recipe-information .recipe-estimations__box {
		grid-template-columns : repeat(1, 1fr);
		row-gap               : 4.2rem;
		border-radius         : 12px;
		box-shadow            : 0px 0px 20px rgba(0, 0, 0, 0.1);
		padding               : 5.7rem 5.1rem 4.9rem 4rem;
	}
	
	.recipe-information .recipe-estimations__yields__text {
		padding-left : 1.403rem;
	}
	
	.recipe-information .recipe-estimations__yields__text h5 {
		font-size      : 1rem;
		padding-bottom : 0.4rem;
	}
	
	.recipe-information .recipe-estimations__yields__text p {
		font-size : 1.4rem;
	}
	
	.recipe-information .recipe-estimations__preparation {
		grid-row-start : auto;
	}
	
	.recipe-information .recipe-estimations__preparation__text {
		padding-left : 1.403rem;
	}
	
	.recipe-information .recipe-estimations__preparation__text h5 {
		font-size : 1rem;
	}
	
	.recipe-information .recipe-estimations__preparation__text p {
		font-size : 1.4rem;
	}
	
	.ingredients {
		max-width : 55.6rem;
	}
	
	.ingredients__info {
		margin-bottom : 3.2rem;
	}
	
	.ingredients__info__form h4 {
		font-size : 1.8rem;
	}
	
	.ingredients__info__form ul li {
		margin-bottom : 1.2rem;
	}
	
	.ingredients__info__form ul li p {
		padding-left : 1.7rem;
		font-size    : 1.6rem;
	}
	
	.ingredients__info__form ul li p span {
		font-size : 1.6rem;
	}
	
	.instructions__list ul li {
		margin-bottom : 4rem;
	}
	
	.source {
		display    : flex;
		font-style : 1.6rem;
	}
	
	.source p {
		font-size : 1.6rem;
	}
	
	.source a {
		padding-left : 0.2rem;
		font-size    : 1.6rem;
	}
}
